// default layout
.wrapper
  width: 1180px
  margin: auto
  .header
    width: inherit
    clear: right
    .header__activLink
      display: block
      float: left
      margin-top: 60px
    .header__tel
      float: right
      width: 800px
      margin-right: 20px
      margin-top: 20px
    .header__menu
      float: right
      margin-right: 20px
      margin-top: 19px
      a
        display: block
        float: right
        margin-left: 20px
    .header__logo
      display: block
      float: right
  .menu
    float: left
    width: 200px
  .content
    float: right
    margin-top: 50px
    width: 980px
    video
      width: 980px
      height: 495px
    .content__text
      display: block
      width: $widthcontent
      margin-top: 30px
      margin-left: 2px

    .infogra
      margin-left: 2px
      .infogra__title
        display: block
        width: $widthcontent
        float: left
        margin-bottom: 30px
      .infogra__bloks
        float: left
        width: $widthcontent/5
  .footer
    width: inherit
