// Normally mainpage styles
body
  background-color: rgb(243,243,243)
.wrapper
  overflow: hidden
  background-color: rgb(243,243,243)
.header
  overflow: inherit
  .header__activLink
    font-size: 10px
    .header__activLink--bold
      font-size: 14px
      font-weight: bold
  .header__tel
    font-weight: bold
    text-align: right
  .header__menu
    a
      text-decoration: none
      line-height: 30px
      text-align: right
      color: #000
      border-bottom: solid 4px rgb(243,243,243)
    a:hover
      color: #cc0000
      border-bottom: solid 4px #cc0000
  .header__logo
.menu
  overflow: hidden
  @each $i in 1,2,3,4,5,6,7
    .menu__icon#{$i}
      display: inline
      float: left
      height: 30px
      margin-bottom: 30px
      clear: left
      +png(menu__icon#{$i})
  @each $i in 1,2,3,4,5,6,7
    .menu__icon#{$i}:hover
      +png(menu__icon#{$i}-red)
      color: #cc0000

  .menu__link
    text-decoration: none
    text-transform: uppercase
    font-size: 10px
    line-height: 18px
    color: #000
  .menu__link:hover
    color: #cc0000
.content
  .infogra
    overflow: hidden
    .infogra__title
      font-size: 36px
    .infogra__bloks
      @each $s in 1,2,3,4,5
        .infogra__bloks__icon#{$s}
          display: block
          float: left
          width: $widthcontent/5
          height: 51px
          margin-bottom: 5px
          +png(infogra__bloks__icon#{$s})
  .honors
    overflow: hidden
    .honors__title
      font-size: 36px
    .honors--container
      overflow: hidden
      .honors__bloks
        text-align: center
  .hideHonors
    +oval(200px)
    background-color: #cc0000
    .hideHonors__link
      text-decoration: none
      color: #fff
      font-size: 16px
      line-height: 36px
.footer
  overflow: hidden
  color: #999A9A
  font-size: 10px
  .footer__email
    +oval(200px)
    background-color: transparent
    border: solid 1px #999A9A
    a
      text-decoration: none
      color: #999A9A
      font-size: 10px
      line-height: 30px
  .footer__email:hover
    border: solid 1px #cc0000
    a
      color: #cc0000
  .footer__icon
    +png(qb)
  .footer__copyright--red
    color: #cc0000
